h4 h3{
	font-family: "helvetica", sans-serif;
}

p{
	font-family: "roboto", sans-serif;
}

input[type=checkbox]{
	margin-left: 20px;
}

.main-content{
	padding-top: 40px;
}

.caption{
	min-height: 300px;
	border-radius: 5px;
	border: 1px #ccc solid;
}

.vote_button{
  position: absolute;
  bottom: 40px;
  margin: 0px 5px;
}

.books_in_profile{
	padding: 15px;
}

.profile_pic{
	margin: 10px;
}