
     <div class="col-md-3">
      <p class="lead">Categories</p>
     <div class="list-group">
      <% @categories.each do |category| %>
      <%= link_to "#{category.name}", {params: {category:category.id}}, class: "list-group-item" %>
        
      <%end %>
     </div>
    </div>